body{
    text-align: center;
    background-image: url("http://neilydidit.com/wallpaper/80s/80s_1440x900.jpg");
    padding-left: 100px;
    padding-right: 100px;
}

.container{
    background-color: #33cc33;
    opacity: .95;
}
      
.hours{
    padding-top: 10px;
    padding-bottom: 20px;
}

footer .container{
    padding: 10px;
    background-color: pink;
    
}

footer img{
    width: 40px;
}

#map {
        text-align: center;
        height: 500px;
        width: 100%;
}

#my-map-canvas img
    {max-width:none!important;
    background:none!important;
    font-size: inherit;}